{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<h1 class=" offset-md-1 col-md-10 text-center">Elysion</h1>
	<h2 class=" offset-md-1 col-md-10 text-center">Terres de Tiamaranta</h2>
</div>

<div class="row align-items-center my-auto h-100">
	<div class="offset-md-1 col-md-10">
		<p>Tiamaranta, archipel symbole d’espoir et véritable défi de survie tout à la fois.</p>

		<p>Les Elfes, les Vampires, les Humains et les Dragons, quatre races issues d’un continent décimé nommé Ambarhùna, ont un lourd passé commun, empli d’alliances et de guerres, et de catastrophes les ayant souvent menés au bord du gouffre. La dernière grande guerre qu’ils durent affronter contre des ennemis redoutables, appelés Chimères, les a conduit à fuir leur ancienne terre Ambarhùna envahie par celles-ci. Ils se sont alors naufragés sur l’archipel de Tiamaranta, terre tant attendue et pourtant des plus hostiles.</p>

		<p>Tout en ces îles semblait vouloir tuer les rescapés. Et les tensions avec les Graärh, les habitants originels de l’archipel de Tiamaranta, n’arrangeaient rien. La reconstruction fut difficile, d’autant plus quand les Chimères les rattrapèrent. Dans un ultime combat, tous les peuples luttèrent, unis pour leur survie, et arrachèrent la victoire in extremis.</p>

		<p>Pourtant, tout n’est pas gagné. De profonds changements ont surgi au sein du monde et de la magie : cette dernière a subi de grands bouleversements, une nouvelle race issue des vampires et des elfes a émergé, nommée les Immaculés... et une méfiance naissante envers le lien des dragonniers monte peu à peu quand on apprit la menace qu’il pourrait représenter quant à un possible retour des Chimères....</p>

		<p>Les tensions entre les peuples sont toujours aussi vives, et de terribles menaces ressurgissent du passé de l’archipel avec notamment les Couronnes de Cendres, et d’anciens secrets de l'archipel, d’un temps séculaire.</p>
	</div>
</div>
	
 				

{% endblock %}
