{% extends 'base.html.twig' %}

{% block body %}

				<h1>Elysion</h1>
				<h2>Terres de Tiamaranta</h2>
 				<p>Tiamaranta, archipel symbole d’espoir et véritable défi de survie tout à la fois. En effet, les Elfes, les Vampires et les Humains, ont dû fuir leurs anciennes terres envahies par les Chimères, et se sont naufragés sur l’archipel, terre tant attendue et pourtant des plus hostile. Tout en ces îles semblait vouloir tuer les rescapés. Et les tensions avec les Graärh, les habitants originels, n’arrangeaient rien.</p>

				<p>La reconstruction fut difficile, d’autant plus quand les Chimères les rattrapèrent. Dans un ultime combat, tous les peuples luttèrent pour leur survie, et arrachèrent la victoire in extremis.</p>

				<p>Pourtant, tout n’est pas gagné. De profonds changements ont surgi, au sein du monde et de la magie, avec l’émergence d’une nouvelle race, les Immaculés... et une méfiance naissante envers le lien des dragonniers. Les tensions entre les peuples sont toujours aussi vives, et de terribles menaces ressurgissent du passé... </p>

{% endblock %}
