{% extends 'base_admin.html.twig' %}

{% block body %}
    <h1>Modifier les validations en attente</h1>

    {{ include('pending_validations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pending_validations_index') }}">Retour à la liste en attente</a>

    {{ include('pending_validations/_delete_form.html.twig') }}
{% endblock %}
