{% extends 'base_admin.html.twig' %}

{% block body %}

<a class="btn btn-dark text-info border-info btn-block" href="{{ path('bonus_effects_list_new') }}" class="btn btn-dark text-info border-info">Ajouter un nouveau bonus/malus ou effet d'alliage</a>
<br>
<a class="btn btn-dark text-info border-info btn-block" href="{{ path('alloys_list_new') }}" class="btn btn-dark text-info border-info">Ajouter un nouvel alliage</a>

{% endblock %}
