<form method="post" action="{{ path('glyphs_list_delete', {'id': glyphs_list.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce glyphe ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ glyphs_list.id) }}">
    <button class="btn btn-dark text-info border-info btn-block">Supprimer</button>
</form>
