<!-- Button trigger modal -->
    <button type="button" class="btn btn-light text-info border-info btn-lg rounded-circle bold-title" data-toggle="modal" data-target="#infoBoutiques">
        ?
    </button>
<!-- Modal -->
    <div class="modal fade" id="infoBoutiques" tabindex="-1" role="dialog" aria-labelledby="boutiqueObjets" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-light">
            <h1 class="modal-title px-5" id="boutiqueObjets">Glyphes et améliorations technologiques</h1>
            <button type="button" class="close text-info" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bg-light px-5">
            <br>
            <p>
                La magie est omniprésente sur Elysion. Certains objets, tels que le cristal de magie, la gemme de sang, la rune et l'artefact de dragon, en sont imprégnés d’une immense quantité. Ils peuvent ainsi être utilisés afin de former des glyphes, et lorsqu’ils sont liés à un item, ils lui confèrent des pouvoirs surprenants. On peut également parler d'enchantements.
            </p>
            <br>

            <h2 class="text-left">Types de glyphes et améliorations technologiques</h2>
    
            <p>
                <ul>
                    <li><span class="bold-title" >Glyphe élémentaire :</span> Créé à partir d’un cristal de magie, un minéral blanc aux reflets multicolores. Les objets portant un glyphe élémentaire obtiennent des pouvoirs liés aux éléments : le feu, l’air, la terre, l’eau, l’éclair, la lumière et les ténèbres. Les glyphes élémentaires sont également liés à la nature, à la faune et à la flore.</li>
                    <li><span class="bold-title" >Glyphe funeste :</span> Créé à partir d’une gemme de sang, pierre à la base transparente qui gagne ses pouvoirs et devient écarlate lorsqu’on y dépose une goutte de sang. Les objets portant un glyphe funeste obtiennent des pouvoirs nuisibles et néfastes à ceux qui n’en sont pas les propriétaires. Quoique, parfois, le glyphe funeste est défavorable à tous.</li>
                    <li><span class="bold-title" >Glyphe de soutien :</span> Créé à partir d’une rune, résine ambrée provenant de la sève de certains arbres. Les objets portant un glyphe de soutien obtiennent des pouvoirs venant apporter une aide à son propriétaire, pouvant ainsi le soutenir de mille et une façons, le protéger, le défendre, etc.</li>
                    <li><span class="bold-title" >Glyphe draconique :</span> Créé à partir d’un artefact de dragon, qu’il s’agisse d’une griffe, d’une dent, d’une écaille, d’un bout d’os, etc. Les objets portant un glyphe draconique sont généralement les plus puissants et les plus surprenants.</li>
                    <li><span class="bold-title" >Amélioration technologique :</span> Il n’est plus question de magie, mais plutôt de se servir de son talent, des lois de la physique et de ses connaissances, afin d’apporter des changements à un item et d’en améliorer ses capacités. Les modifications faites sont sur le plan physique et non pas magique.</li>
                    
               </ul>
            </p>
            <p>
                Pour faire un achat à la boutique, il faut posséder l'ingrédient requis et les pièces d'or demandées. <span class="bold-title" >Les glyphes et améliorations peuvent être apposés au nombre de 4 au maximum sur un même objet. </span>Certaines restrictions peuvent parfois s’appliquer.
            </p>
            <p>
                À moins d’être des effets permanents et passifs, tous les glyphes nécessitent d’être activés pour que les effets prennent vie, et puisent dans l’énergie de son porteur. Tous les effets sont potentiellement nuancés par la Résistance, la Force mentale ou par d’autres facteurs du porteur ou de la cible.

            </p>
            <br>
            <h2 class="text-left">Limite d'augmentations de caractéristiques</h2>
            <p>
                Les bonus/malus et effets peuvent avoir des impacts sur les jets de dés sur une caractéristique lors d’une action du personnage avec l’objet reforgé. Cependant pour d’autres, il peut s’agir d’une précision purement rp, donnée à titre indicatif, et laissée ensuite à la libre interprétation du MJ. Notamment les bonus ou effets négatifs apportent des nuances à l’alliage ou des précisions dans son utilisation.
            </p>
            <p>
                Les augmentations de caractéristiques par des objets sont limitées :
                <ul>
                    <li>
                        <span class="bold-title" >Limite pour une caractéristique donnée :</span> <br>
                        Cette limite est de maximum +3 rangs de bonus cumulés (permanents et temporaires) et de maximum +2 rangs de bonus cumulés permanents, dans une même caractéristique, hors augmentations données par les objets légendaires et les Esprits-Liés, en comprenant tous les objets de l'inventaire du personnage (même ceux non portés).
                    </li>
                    <li>
                        <span class="bold-title" >Limite globale : </span><br>
                        Cette limite est de maximum 8 augmentations permanentes de rangs de caractéristiques, toutes caractéristiques confondues, hors augmentations données par les objets légendaires et les Esprits-Liés, et de maximum 10 augmentations totales avec les augmentations temporaires, en comprenant tous les objets de l'inventaire du personnage (même ceux non portés).
                    </li>
                </ul>
            </p>
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>