{% extends 'base.html.twig' %}

{% block title %}Edit GlyphsList{% endblock %}

{% block body %}
    <h1>Edit GlyphsList</h1>

    {{ include('glyphs_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('glyphs_list_index') }}">back to list</a>

    {{ include('glyphs_list/_delete_form.html.twig') }}
{% endblock %}
