{% extends 'base.html.twig' %}

{% block title %}New GlyphsList{% endblock %}

{% block body %}
    <h1>Create new GlyphsList</h1>

    {{ include('glyphs_list/_form.html.twig') }}

    <a href="{{ path('glyphs_list_index') }}">back to list</a>
{% endblock %}
