{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un glyphe ou une amélioration : </h1>

    {{ include('glyphs_list/_form.html.twig') }}
    <br>
    <a class="btn btn-dark text-info border-info btn-block" href="{{ path('glyphs_list_index') }}">Retour à la liste des glyphes et améliorations</a>
{% endblock %}
