<!-- Button trigger modal -->
    <button type="button" class="btn btn-light text-info border-info btn-lg rounded-circle bold-title" data-toggle="modal" data-target="#infoBoutiques">
        ?
    </button>
<!-- Modal -->
    <div class="modal fade" id="infoBoutiques" tabindex="-1" role="dialog" aria-labelledby="boutiqueObjets" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-light">
            <h1 class="modal-title px-5" id="boutiqueObjets">Boutique des objets</h1>
            <button type="button" class="close text-info" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bg-light px-5">
            <br>
            <p>
                La boutique permet d'acheter des objets variés pour son personnage à l'aide de pièces d'or (PO). Vous n'avez pas besoin de faire la mention de l'achat au coeur d'un RP, mais le moment et l'endroit de l'acquisition doivent rester logiques.
            </p>
            <br>

            <h2>Equipement porté</h2>
            <p>
                Il n'y a pas de limite quant au nombre d'objets que vous pouvez posséder, mais il y en a une dans celle que vous pouvez porter.      
            </p>
            <p>
                <span class="bold-title" >Un équipement complet comporte :</span>
                <ul>
                    <li>Un casque ou un couvre-chef</li>
                    <li>Des vêtements (restez logique quant à l'agencement)</li>
                    <li>Une paire de brassards ou protection d'avant-bras</li>
                    <li>Une paire de gants ou gantelets</li>
                    <li>Une cape ou un manteau</li>
                    <li>Une armure</li>
                    <li>Une paire de grèves ou protection de jambes</li>
                    <li>Une paire de bottes ou de chaussures</li>
                    <li>Environ 10 accessoires ou bijoux variés (bracelets, colliers, etc.)</li>
                    <li>Des armes</li>
                </ul>
            </p>
            <p>
                Sur certains objets, vous verrez la mention de <span class="bold-title" >“Glyphe rare”</span>. Cette mention indique que le glyphe est caractéristique à cet objet. Un glyphe rare ne peut pas être retrouvé en boutique de glyphes et ne peut alors pas être déplacé sur un autre objet.
            </p>
            <br>
            <h2 class="text-left">Limite d'augmentations de caractéristiques</h2>
            <p>
                Les augmentations de caractéristiques par des objets sont limitées :
                <ul>
                    <li>
                        <span class="bold-title" >Limite pour une caractéristique donnée :</span> <br>
                        Cette limite est de maximum +3 rangs de bonus cumulés (permanents et temporaires) et de maximum +2 rangs de bonus cumulés permanents, dans une même caractéristique, hors augmentations données par les objets légendaires et les Esprits-Liés, en comprenant tous les objets de l'inventaire du personnage (même ceux non portés).
                    </li>
                    <li>
                        <span class="bold-title" >Limite globale : </span><br>
                        Cette limite est de maximum 8 augmentations permanentes de rangs de caractéristiques, toutes caractéristiques confondues, hors augmentations données par les objets légendaires et les Esprits-Liés, et de maximum 10 augmentations totales avec les augmentations temporaires, en comprenant tous les objets de l'inventaire du personnage (même ceux non portés).
                    </li>
                </ul>
            </p>
            <br>
            <h2 class="text-left">Les essentiels</h2>
            <p>
                La boutique des essentiels comporte tous les objets de base qui n’ont ni glyphe, ni amélioration. Ils vous offrent le droit à une <span class="bold-title" >personnalisation gratuite</span>.
            </p>
            <p>
                Notez cependant que ces objets n’ont aucune particularité les rendant plus efficaces : il vous appartiendra, ensuite, de leur apposer des glyphes ou des améliorations.
            </p>
            <br>
            <h2 class="text-left">Les objets rares</h2>
            <p>
                Les objets rares sont des objets qui ne courent pas les rues. Ils sont précieux, presque uniques, ils sont la perle rare sur votre équipement mais aussi celui des autres.
            </p>
            <p>
                A cet effet, nous limiterons son nombre de possession à <span class="bold-title" >5 par personnage</span>.
            </p>
            <p>
                Il est demandé également une certaine cohérence. Il est inutile que vous possédiez deux paires de bottes rares. Nous ne pourrons valider une demande d'équipement sur deux items identiques ou ayant les mêmes fonctions, excepté celles qui peuvent être maniées en même temps (comme deux épées).
            </p>
            <p>
                <span class="bold-title" >Deux personnages d'un même joueur ne peuvent posséder deux exemplaires du même objet</span> : diversifiez vous !
            </p>
            <p>
                Certains objets, ayant une histoire unique, font l'objet de prérequis pour les acquérir. Vous devrez les remplir pour que votre achat soit validé.
            </p>
            <p>
                Tous les glyphes des objets rares sont des glyphes rares, ils ne peuvent être déplacés.
            </p>
            <p>
                <span class="bold-title" >NB :</span> Pour les personnages possédant plus d’objets rares avant la mise en place de cette limite, ils ne perdent pas les objets qu’ils ont en plus. C'est à dire qu'un personnage en ayant à ce moment-là 6 ou 7 n'a pas l'obligation de s'en séparer. Néanmoins, s'il souhaite acquérir un nouvel objet rare, il faudra qu'il redescende à quatre objets avant cela.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>