<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Elysion - Gestion RPG : Administration{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Noto+Sans&display=swap" rel="stylesheet"> 
    </head>
    <body>
        {% block nav %}
        	{% include ("navadmin.html.twig") %}
    	{% endblock %}

    	<div class="container global-frame">
			<div class="row">
				<div class="col-12">
        			{% block body %}
        				<section>Cette page n'existe pas.</section>
        			{% endblock %}
				</div>
			</div>
		</div>

        {% block footer %}
        	{% include ("footer.html.twig") %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
    </body>
</html>
