<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Elysion - Gestion RPG{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        <style>
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
</style> 
    </head>
    <body>
        {% block nav %}
        	{% include ("nav.html.twig") %}
    	{% endblock %}

    	<div class="container global-frame h-100">
			<div class="row h-100">
				<div class="col-12">
        			{% block body %}
        				<section>Cette page n'existe pas.</section>
        			{% endblock %}
				</div>
			</div>
		</div>

        {% block footer %}
        	{% include ("footer.html.twig") %}
        {% endblock %}

        {{ encore_entry_script_tags('app') }}
    </body>
</html>
