<!-- Button trigger modal -->
    <button type="button" class="btn btn-light text-info border-info btn-lg rounded-circle bold-title" data-toggle="modal" data-target="#infoBoutiques">
        ?
    </button>
<!-- Modal -->
    <div class="modal fade" id="infoBoutiques" tabindex="-1" role="dialog" aria-labelledby="boutiqueObjets" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-light">
            <h1 class="modal-title px-5" id="boutiqueObjets">L'atelier</h1>
            <button type="button" class="close text-info" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bg-light px-5">
            <br>
            <p>
                L'atelier vous permet d’améliorer un objet en modifiant les éléments ou matériaux qui le composent. Il existe différents types d’alliage : les alliages métalliques, les essences de bois et les laques ou les tissus et cuirs. Vous pourrez alors appliquer un type d’alliage donné en fonction de la composition de l’objet.
            </p>
            <p>
                <span class="bold-title" >Ex :</span> un objet comportant du métal et du cuir pourra porter un alliage de métal ou un alliage de tissu et cuir.
            </p>
            <br>

            <h2>Fonctionnement</h2>
            <p>
                Afin de faire “façonner” un objet, vous devez tout d’abord le posséder.  Cet objet peut être une arme, une armure, un bijou, un instrument ou n’importe quoi d’autres.     
            </p>
            <p>
                <span class="bold-title" >Un objet ne peut avoir qu’un seul alliage.</span>    
            </p>
            <p>
                Faire “façonner” un objet va permettre de lui donner des caractéristiques spéciales et cela sans user une place de glyphe ou d’amélioration. Ces caractéristiques peuvent être :
                <ul>
                    <li><span class="bold-title" >Des bonus :</span> il s’agit en général de bonus ou malus quant aux caractéristiques de l’objet ou à son utilisation</li>
                    <li><span class="bold-title" >Des effets :</span> il s’agit en général de capacités magiques et actives produisant des phénomènes particuliers</li>
               </ul>
            </p>
            <p>
                <span class="bold-title" >Un alliage peut contenir au maximum 4 bonus positifs et 2 effets positifs. Les possibles “bonus” négatifs ne sont pas comptabilisés dans ce décompte.</span>.
            </p>
            <p>
                En effet les alliages peuvent avoir des bonus et effets positifs ou négatifs. Les bonus ou effets positifs sont distingués par un « + » alors que les malus ou effets négatifs sont distingués par un « - ».

            </p>
            <br>
            <h2 class="text-left">Limite d'augmentations de caractéristiques</h2>
            <p>
                Les bonus/malus et effets peuvent avoir des impacts sur les jets de dés sur une caractéristique lors d’une action du personnage avec l’objet reforgé. Cependant pour d’autres, il peut s’agir d’une précision purement rp, donnée à titre indicatif, et laissée ensuite à la libre interprétation du MJ. Notamment les bonus ou effets négatifs apportent des nuances à l’alliage ou des précisions dans son utilisation.
            </p>
            <p>
                Les augmentations de caractéristiques par des objets sont limitées :
                <ul>
                    <li>
                        <span class="bold-title" >Limite pour une caractéristique donnée :</span> <br>
                        Cette limite est de maximum +3 rangs de bonus cumulés (permanents et temporaires) et de maximum +2 rangs de bonus cumulés permanents, dans une même caractéristique, hors augmentations données par les objets légendaires et les Esprits-Liés, en comprenant tous les objets de l'inventaire du personnage (même ceux non portés).
                    </li>
                    <li>
                        <span class="bold-title" >Limite globale : </span><br>
                        Cette limite est de maximum 8 augmentations permanentes de rangs de caractéristiques, toutes caractéristiques confondues, hors augmentations données par les objets légendaires et les Esprits-Liés, et de maximum 10 augmentations totales avec les augmentations temporaires, en comprenant tous les objets de l'inventaire du personnage (même ceux non portés).
                    </li>
                </ul>
            </p>
            <br>
            <h2 class="text-left">Les alliages complets</h2>
            <p>
               Pour acquérir et reforger un objet avec un alliage, il s’agit du même fonctionnement que celui de n’importe quelle boutique. Il existe des alliages complets, proposant déjà une combinaison de bonus/malus et d’effets.
            </p>
            <p>
                Notez que vous pourrez les compléter.
            </p>
            <br>
            <h2 class="text-left">Compléter un alliage possédé</h2>
            <p>
                Un alliage peut contenir au maximum 4 bonus positifs et 2 effets positifs. Un alliage qui ne possède pas ce maximum peut alors être amélioré en payant le prix d’un bonus positif ou d’un effet positif supplémentaire à ajouter.
            </p>
            <p>
                Bien entendu les malus (bonus négatifs ou les effets négatifs) sont gratuits, en plus de ne pas être comptabilisés dans le nombre maximum de bonus et d’effets. 
            </p>
            <p>
                Cette demande d’ajout de bonus ou d’effets peut être effectuée après l’achat de l’alliage initial.
            </p>
            <p>
                Notons que certaines alliages ont des caractéristiques, bonus ou effets, qui leur sont propres et qui ne sont donc pas forcément disponibles à l’achat d’ajout.
            </p>
            <p>
                Ces caractéristiques ont trois niveaux de prix : rang 1, rang 2 et rang 3 (vous devinez que les bonus ou effets les plus puissants sont parmi les plus chers en rang 3…).
            </p>
 

            <p>
                <span class="bold-title" >Voici la grille de prix des ajouts :</span>.
                <ul>
                    <li>Ajout d'un bonus de rang 1 : 300 PO</li>
                    <li>Ajout d'un bonus de rang 2 : 400 PO</li>
                    <li>Ajout d'un bonus de rang 3 : 500 PO</li>
                </ul>
                <ul>
                    <li>Ajout d'un effet de rang 1 : 350 PO</li>
                    <li>Ajout d'un effet de rang 2 : 450 PO</li>
                    <li>Ajout d'un effet de rang 3 :  550 PO</li>
                </ul>
                <ul>
                    <li>Retrait d'un malus : 500 PO</li>
                </ul>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>