{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un nouveau bonus / malus / effet d'alliage : </h1>

    {{ include('bonus_effects_list/_form.html.twig') }}
    <br>
    <a class="btn btn-dark text-info border-info btn-block" href="{{ path('bonus_effects_list_index') }}">Retour à la liste des bonus / malus / effets</a>
{% endblock %}
