<form method="post" style="width: 100%;" action="{{ path('alloys_list_delete', {'id': alloys_list.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet alliage ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alloys_list.id) }}">
    <button class="btn btn-dark text-info border-info btn-block">Supprimer</button>
</form>
