<form class="filters container-fluid">
	<div class="row align-items-center">
    	<div class="col-md-6">
			<input class="form-control" type="text" placeholder="Rechercher par mot-clé">
		</div>
		<div class="col-md-6">
			<div class="form-check form-check-inline">
		  		<input class="form-check-input" type="radio" name="order" id="alphabetic-order" value="0" checked >
		  		<label class="form-check-label" for="alphabetic-order">Tri par ordre alphabétique</label>
			</div>
			<div class="form-check form-check-inline">
			  	<input class="form-check-input" type="radio" name="order" id="price-order" value="1">
			  	<label class="form-check-label" for="price-order">Tri par prix croissant</label>
			</div>
		</div>
	</div>
	<br/>

	<div class="row align-items-center">
    	<div class="col-md-6">
			<div class="form-group">
		    	<label for="alloys-type">Type d'alliage</label>
		   		<select class="form-control" id="alloys-type">
			      	<option>Afficher tout</option>
			      	<option>Alliages métaliques</option>
			      	<option>Essence de bois et laques</option>
			      	<option>Tissus et cuirs</option>
			      	<option>Alliages pour navire</option>
		    	</select>
		  	</div>
		 </div>
		<div class="col-md-6">
		  	<div class="form-group">
		    	<label for="alloys-support">Supports</label>
		   		<select class="form-control" id="alloys-support">
			      	<option>Afficher tout</option>
			      	<option>Armures</option>
			      	<option>Vêtements</option>
			      	<option>Bijoux</option>
			      	<option>Armes</option>
			      	<option>Armes de trait</option>
			      	<option>Alliage pour toutes armes sauf armes de trait</option>
			      	<option>Armes</option>
			      	<option>Alliage pour tous objets sauf armes</option>
			      	<option>Alliage pour tous types d'objets</option>
			      	<option>Coques</option>
			      	<option>Voiles</option>
			      	<option>Proues et poupes</option>
			      	<option>Autre partie du navire</option>
		    	</select>
		  	</div>
		</div>
	</div>
	<br/>
	<button type="submit" class="btn btn-dark border-info text-info btn-center">Rechercher</button>
	

</form>

<!--	<div class="dropdown">
		<button class="btn btn-dark border-info dropdown-toggle text-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Types
		</button>
		<div class="dropdown-menu alert-info" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item text-ocean" href="#">Afficher tout</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item text-ocean" href="#">Alliages métaliques</a>
		    <a class="dropdown-item text-ocean" href="#">Essence de bois et laques</a>
		    <a class="dropdown-item text-ocean" href="#">Tissus et cuirs</a>
		    <a class="dropdown-item text-ocean" href="#">Alliages pour navire</a>
		</div>
	</div>
	<div class="dropdown">
		<button class="btn btn-dark border-info dropdown-toggle text-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Supports
		</button>
		<div class="dropdown-menu alert-info" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item text-ocean" href="#">Afficher tout</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item text-ocean" href="#">Armures</a>
		    <a class="dropdown-item text-ocean" href="#">Vêtements</a>
		    <a class="dropdown-item text-ocean" href="#">Bijoux</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item text-ocean" href="#">Armes</a>
		    <a class="dropdown-item text-ocean" href="#">Armes de trait</a>
		    <a class="dropdown-item text-ocean" href="#">Toutes armes sauf armes de trait</a>
		    <a class="dropdown-item text-ocean" href="#">Tous objets sauf armes</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item text-ocean" href="#">Coque</a>
		    <a class="dropdown-item text-ocean" href="#">Voiles</a>
		    <a class="dropdown-item text-ocean" href="#">Proue et poupe</a>
		    <a class="dropdown-item text-ocean" href="#">Autre partie du navire</a>
		</div>
	</div>-->