{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier l'alliage</h1>

    {{ include('alloys_list/_form.html.twig', {'button_label': 'Modifier'}) }}
<br/>
    {{ include('alloys_list/_delete_form.html.twig') }}
<br/>
    <a class="btn btn-dark text-info border-info btn-block" href="{{ path('alloys_list_index') }}">Retour à la liste des alliages</a>
{% endblock %}
