{% extends 'base.html.twig' %}


{% block body %}
    <h1>Créer un nouvel alliage</h1>

    {{ include('alloys_list/_form.html.twig') }}

    <br><a class="btn btn-dark text-info border-info btn-block" href="{{ path('alloys_list_index') }}">Afficher la liste des alliages</a>
{% endblock %}
