{% extends 'base_admin.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <br>
        <div class="row">
            {% for user in users %}
            
                <div class="col-lg-3 col-md-4 mt-4 text-center card-group">
                    <div class="card">
                        <div class="card-header">{{ user.username }}</div>
                        <div class="card-body">
                            <p class="card-text">
                                {{ 'ROLE_ADMIN' in user.roles ? 'Administrateur' : 'Membre' }}
                            </p>
                            
                        </div>
                        <div class="card-footer">
                            <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                        </div>
                    </div>
                </div>
                
            {% else %}
                    <p>Aucun utilisateur enregistré</p>
            {% endfor %}
        </div>
    <br>

    <a class="btn btn-dark text-light border-info btn-block" href="{{ path('user_new') }}">Créer un nouvel utilisateur</a>
{% endblock %}
